<form  class = "tp-form" [formGroup]="varFormG" >
       
  <div>
      <input type="text" #fnamm formControlName="fname" [ngClass]="{'is-invalid':varFormG.get('fname').touched &&  varFormG.get('fname').invalid}" class="form-control">
      <div  class="invalid-feedback">
          <div *ngIf="varFormG.controls['fname'].hasError('required')" >First Name is required</div>
          <div *ngIf="varFormG.controls['fname'].hasError('email')">Email is required</div>
          <div *ngIf="varFormG.controls['fname'].hasError('minlength')">Min Length (5) is required</div>
          <div *ngIf="varFormG.controls['fname'].hasError('maxlength')">Min Length (10)  is required</div>
      </div>
  </div>
  <div>
      <input type="text"   formControlName="lname"   [ngClass]="{'is-invalid':varFormG.controls.lname.touched &&  varFormG.controls.lname.invalid}" placeholder="UserId" class="form-control" >
      <div  class="invalid-feedback" >
          <div >Last Name is required</div>
      </div>
  </div>  
  <div formArrayName="hobbies">    
      <div *ngFor="let item of GFormArray.controls; let i = index" [formGroupName]="i">
          {{i}}
            <input type="text" formControlName="Hobb1"  placeholder="Hobb1" class="form-control" >
            <input type="text"  formControlName="Hobb2"  placeholder="Hobb2" class="form-control" >
            <button (click)="addHobbiesForm()">Add</button>
            <button (click)="removeHobbiesForm(i)">Delete</button>
      </div>        
    </div> 
    <input (click)="LogArray()" value="Submit" type="button"/>
  <input (click)="ExportToExcel()" value="Export To Excel" type="button"/>
</form>

